// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arc-name: 'arc';
$arc-x: 0px;
$arc-y: 1483px;
$arc-offset-x: 0px;
$arc-offset-y: -1483px;
$arc-width: 147px;
$arc-height: 258px;
$arc-total-width: 155px;
$arc-total-height: 1741px;
$arc-image: '../../../img/sprite.png';
$arc: (0px, 1483px, 0px, -1483px, 147px, 258px, 155px, 1741px, '../../../img/sprite.png', 'arc', );
$cut-down-name: 'cut-down';
$cut-down-x: 0px;
$cut-down-y: 604px;
$cut-down-offset-x: 0px;
$cut-down-offset-y: -604px;
$cut-down-width: 33px;
$cut-down-height: 43px;
$cut-down-total-width: 155px;
$cut-down-total-height: 1741px;
$cut-down-image: '../../../img/sprite.png';
$cut-down: (0px, 604px, 0px, -604px, 33px, 43px, 155px, 1741px, '../../../img/sprite.png', 'cut-down', );
$separator-name: 'separator';
$separator-x: 0px;
$separator-y: 0px;
$separator-offset-x: 0px;
$separator-offset-y: 0px;
$separator-width: 155px;
$separator-height: 17px;
$separator-total-width: 155px;
$separator-total-height: 1741px;
$separator-image: '../../../img/sprite.png';
$separator: (0px, 0px, 0px, 0px, 155px, 17px, 155px, 1741px, '../../../img/sprite.png', 'separator', );
$base-name: 'base';
$base-x: 0px;
$base-y: 1102px;
$base-offset-x: 0px;
$base-offset-y: -1102px;
$base-width: 48px;
$base-height: 48px;
$base-total-width: 155px;
$base-total-height: 1741px;
$base-image: '../../../img/sprite.png';
$base: (0px, 1102px, 0px, -1102px, 48px, 48px, 155px, 1741px, '../../../img/sprite.png', 'base', );
$box-name: 'box';
$box-x: 0px;
$box-y: 437px;
$box-offset-x: 0px;
$box-offset-y: -437px;
$box-width: 45px;
$box-height: 41px;
$box-total-width: 155px;
$box-total-height: 1741px;
$box-image: '../../../img/sprite.png';
$box: (0px, 437px, 0px, -437px, 45px, 41px, 155px, 1741px, '../../../img/sprite.png', 'box', );
$brand-name: 'brand';
$brand-x: 0px;
$brand-y: 73px;
$brand-offset-x: 0px;
$brand-offset-y: -73px;
$brand-width: 49px;
$brand-height: 32px;
$brand-total-width: 155px;
$brand-total-height: 1741px;
$brand-image: '../../../img/sprite.png';
$brand: (0px, 73px, 0px, -73px, 49px, 32px, 155px, 1741px, '../../../img/sprite.png', 'brand', );
$card-name: 'card';
$card-x: 0px;
$card-y: 171px;
$card-offset-x: 0px;
$card-offset-y: -171px;
$card-width: 44px;
$card-height: 34px;
$card-total-width: 155px;
$card-total-height: 1741px;
$card-image: '../../../img/sprite.png';
$card: (0px, 171px, 0px, -171px, 44px, 34px, 155px, 1741px, '../../../img/sprite.png', 'card', );
$cash-name: 'cash';
$cash-x: 0px;
$cash-y: 781px;
$cash-offset-x: 0px;
$cash-offset-y: -781px;
$cash-width: 45px;
$cash-height: 45px;
$cash-total-width: 155px;
$cash-total-height: 1741px;
$cash-image: '../../../img/sprite.png';
$cash: (0px, 781px, 0px, -781px, 45px, 45px, 155px, 1741px, '../../../img/sprite.png', 'cash', );
$comparison-price-name: 'comparison-price';
$comparison-price-x: 0px;
$comparison-price-y: 1055px;
$comparison-price-offset-x: 0px;
$comparison-price-offset-y: -1055px;
$comparison-price-width: 37px;
$comparison-price-height: 47px;
$comparison-price-total-width: 155px;
$comparison-price-total-height: 1741px;
$comparison-price-image: '../../../img/sprite.png';
$comparison-price: (0px, 1055px, 0px, -1055px, 37px, 47px, 155px, 1741px, '../../../img/sprite.png', 'comparison-price', );
$data-name: 'data';
$data-x: 0px;
$data-y: 280px;
$data-offset-x: 0px;
$data-offset-y: -280px;
$data-width: 52px;
$data-height: 38px;
$data-total-width: 155px;
$data-total-height: 1741px;
$data-image: '../../../img/sprite.png';
$data: (0px, 280px, 0px, -280px, 52px, 38px, 155px, 1741px, '../../../img/sprite.png', 'data', );
$desk-graph-name: 'desk-graph';
$desk-graph-x: 0px;
$desk-graph-y: 962px;
$desk-graph-offset-x: 0px;
$desk-graph-offset-y: -962px;
$desk-graph-width: 42px;
$desk-graph-height: 46px;
$desk-graph-total-width: 155px;
$desk-graph-total-height: 1741px;
$desk-graph-image: '../../../img/sprite.png';
$desk-graph: (0px, 962px, 0px, -962px, 42px, 46px, 155px, 1741px, '../../../img/sprite.png', 'desk-graph', );
$devices-name: 'devices';
$devices-x: 0px;
$devices-y: 396px;
$devices-offset-x: 0px;
$devices-offset-y: -396px;
$devices-width: 57px;
$devices-height: 41px;
$devices-total-width: 155px;
$devices-total-height: 1741px;
$devices-image: '../../../img/sprite.png';
$devices: (0px, 396px, 0px, -396px, 57px, 41px, 155px, 1741px, '../../../img/sprite.png', 'devices', );
$dial-name: 'dial';
$dial-x: 0px;
$dial-y: 1350px;
$dial-offset-x: 0px;
$dial-offset-y: -1350px;
$dial-width: 53px;
$dial-height: 53px;
$dial-total-width: 155px;
$dial-total-height: 1741px;
$dial-image: '../../../img/sprite.png';
$dial: (0px, 1350px, 0px, -1350px, 53px, 53px, 155px, 1741px, '../../../img/sprite.png', 'dial', );
$entrepreneurs-name: 'entrepreneurs';
$entrepreneurs-x: 0px;
$entrepreneurs-y: 137px;
$entrepreneurs-offset-x: 0px;
$entrepreneurs-offset-y: -137px;
$entrepreneurs-width: 60px;
$entrepreneurs-height: 34px;
$entrepreneurs-total-width: 155px;
$entrepreneurs-total-height: 1741px;
$entrepreneurs-image: '../../../img/sprite.png';
$entrepreneurs: (0px, 137px, 0px, -137px, 60px, 34px, 155px, 1741px, '../../../img/sprite.png', 'entrepreneurs', );
$eye-name: 'eye';
$eye-x: 0px;
$eye-y: 44px;
$eye-offset-x: 0px;
$eye-offset-y: -44px;
$eye-width: 41px;
$eye-height: 29px;
$eye-total-width: 155px;
$eye-total-height: 1741px;
$eye-image: '../../../img/sprite.png';
$eye: (0px, 44px, 0px, -44px, 41px, 29px, 155px, 1741px, '../../../img/sprite.png', 'eye', );
$graph-name: 'graph';
$graph-x: 0px;
$graph-y: 736px;
$graph-offset-x: 0px;
$graph-offset-y: -736px;
$graph-width: 49px;
$graph-height: 45px;
$graph-total-width: 155px;
$graph-total-height: 1741px;
$graph-image: '../../../img/sprite.png';
$graph: (0px, 736px, 0px, -736px, 49px, 45px, 155px, 1741px, '../../../img/sprite.png', 'graph', );
$horn-name: 'horn';
$horn-x: 0px;
$horn-y: 1249px;
$horn-offset-x: 0px;
$horn-offset-y: -1249px;
$horn-width: 52px;
$horn-height: 50px;
$horn-total-width: 155px;
$horn-total-height: 1741px;
$horn-image: '../../../img/sprite.png';
$horn: (0px, 1249px, 0px, -1249px, 52px, 50px, 155px, 1741px, '../../../img/sprite.png', 'horn', );
$house-name: 'house';
$house-x: 0px;
$house-y: 520px;
$house-offset-x: 0px;
$house-offset-y: -520px;
$house-width: 50px;
$house-height: 42px;
$house-total-width: 155px;
$house-total-height: 1741px;
$house-image: '../../../img/sprite.png';
$house: (0px, 520px, 0px, -520px, 50px, 42px, 155px, 1741px, '../../../img/sprite.png', 'house', );
$like-name: 'like';
$like-x: 0px;
$like-y: 356px;
$like-offset-x: 0px;
$like-offset-y: -356px;
$like-width: 44px;
$like-height: 40px;
$like-total-width: 155px;
$like-total-height: 1741px;
$like-image: '../../../img/sprite.png';
$like: (0px, 356px, 0px, -356px, 44px, 40px, 155px, 1741px, '../../../img/sprite.png', 'like', );
$link-name: 'link';
$link-x: 0px;
$link-y: 105px;
$link-offset-x: 0px;
$link-offset-y: -105px;
$link-width: 49px;
$link-height: 32px;
$link-total-width: 155px;
$link-total-height: 1741px;
$link-image: '../../../img/sprite.png';
$link: (0px, 105px, 0px, -105px, 49px, 32px, 155px, 1741px, '../../../img/sprite.png', 'link', );
$list-name: 'list';
$list-x: 0px;
$list-y: 318px;
$list-offset-x: 0px;
$list-offset-y: -318px;
$list-width: 36px;
$list-height: 38px;
$list-total-width: 155px;
$list-total-height: 1741px;
$list-image: '../../../img/sprite.png';
$list: (0px, 318px, 0px, -318px, 36px, 38px, 155px, 1741px, '../../../img/sprite.png', 'list', );
$manufacturers-name: 'manufacturers';
$manufacturers-x: 0px;
$manufacturers-y: 647px;
$manufacturers-offset-x: 0px;
$manufacturers-offset-y: -647px;
$manufacturers-width: 44px;
$manufacturers-height: 44px;
$manufacturers-total-width: 155px;
$manufacturers-total-height: 1741px;
$manufacturers-image: '../../../img/sprite.png';
$manufacturers: (0px, 647px, 0px, -647px, 44px, 44px, 155px, 1741px, '../../../img/sprite.png', 'manufacturers', );
$markets-name: 'markets';
$markets-x: 0px;
$markets-y: 916px;
$markets-offset-x: 0px;
$markets-offset-y: -916px;
$markets-width: 43px;
$markets-height: 46px;
$markets-total-width: 155px;
$markets-total-height: 1741px;
$markets-image: '../../../img/sprite.png';
$markets: (0px, 916px, 0px, -916px, 43px, 46px, 155px, 1741px, '../../../img/sprite.png', 'markets', );
$mob-app-name: 'mob-app';
$mob-app-x: 0px;
$mob-app-y: 1150px;
$mob-app-offset-x: 0px;
$mob-app-offset-y: -1150px;
$mob-app-width: 33px;
$mob-app-height: 49px;
$mob-app-total-width: 155px;
$mob-app-total-height: 1741px;
$mob-app-image: '../../../img/sprite.png';
$mob-app: (0px, 1150px, 0px, -1150px, 33px, 49px, 155px, 1741px, '../../../img/sprite.png', 'mob-app', );
$networks-name: 'networks';
$networks-x: 0px;
$networks-y: 1008px;
$networks-offset-x: 0px;
$networks-offset-y: -1008px;
$networks-width: 47px;
$networks-height: 47px;
$networks-total-width: 155px;
$networks-total-height: 1741px;
$networks-image: '../../../img/sprite.png';
$networks: (0px, 1008px, 0px, -1008px, 47px, 47px, 155px, 1741px, '../../../img/sprite.png', 'networks', );
$note-name: 'note';
$note-x: 0px;
$note-y: 242px;
$note-offset-x: 0px;
$note-offset-y: -242px;
$note-width: 36px;
$note-height: 38px;
$note-total-width: 155px;
$note-total-height: 1741px;
$note-image: '../../../img/sprite.png';
$note: (0px, 242px, 0px, -242px, 36px, 38px, 155px, 1741px, '../../../img/sprite.png', 'note', );
$notification-name: 'notification';
$notification-x: 0px;
$notification-y: 1199px;
$notification-offset-x: 0px;
$notification-offset-y: -1199px;
$notification-width: 44px;
$notification-height: 50px;
$notification-total-width: 155px;
$notification-total-height: 1741px;
$notification-image: '../../../img/sprite.png';
$notification: (0px, 1199px, 0px, -1199px, 44px, 50px, 155px, 1741px, '../../../img/sprite.png', 'notification', );
$orders-name: 'orders';
$orders-x: 0px;
$orders-y: 562px;
$orders-offset-x: 0px;
$orders-offset-y: -562px;
$orders-width: 42px;
$orders-height: 42px;
$orders-total-width: 155px;
$orders-total-height: 1741px;
$orders-image: '../../../img/sprite.png';
$orders: (0px, 562px, 0px, -562px, 42px, 42px, 155px, 1741px, '../../../img/sprite.png', 'orders', );
$raiting-name: 'raiting';
$raiting-x: 0px;
$raiting-y: 205px;
$raiting-offset-x: 0px;
$raiting-offset-y: -205px;
$raiting-width: 47px;
$raiting-height: 37px;
$raiting-total-width: 155px;
$raiting-total-height: 1741px;
$raiting-image: '../../../img/sprite.png';
$raiting: (0px, 205px, 0px, -205px, 47px, 37px, 155px, 1741px, '../../../img/sprite.png', 'raiting', );
$shops-name: 'shops';
$shops-x: 0px;
$shops-y: 478px;
$shops-offset-x: 0px;
$shops-offset-y: -478px;
$shops-width: 45px;
$shops-height: 42px;
$shops-total-width: 155px;
$shops-total-height: 1741px;
$shops-image: '../../../img/sprite.png';
$shops: (0px, 478px, 0px, -478px, 45px, 42px, 155px, 1741px, '../../../img/sprite.png', 'shops', );
$statistics-name: 'statistics';
$statistics-x: 0px;
$statistics-y: 1299px;
$statistics-offset-x: 0px;
$statistics-offset-y: -1299px;
$statistics-width: 51px;
$statistics-height: 51px;
$statistics-total-width: 155px;
$statistics-total-height: 1741px;
$statistics-image: '../../../img/sprite.png';
$statistics: (0px, 1299px, 0px, -1299px, 51px, 51px, 155px, 1741px, '../../../img/sprite.png', 'statistics', );
$suppliers-name: 'suppliers';
$suppliers-x: 0px;
$suppliers-y: 691px;
$suppliers-offset-x: 0px;
$suppliers-offset-y: -691px;
$suppliers-width: 50px;
$suppliers-height: 45px;
$suppliers-total-width: 155px;
$suppliers-total-height: 1741px;
$suppliers-image: '../../../img/sprite.png';
$suppliers: (0px, 691px, 0px, -691px, 50px, 45px, 155px, 1741px, '../../../img/sprite.png', 'suppliers', );
$close-name: 'close';
$close-x: 0px;
$close-y: 17px;
$close-offset-x: 0px;
$close-offset-y: -17px;
$close-width: 27px;
$close-height: 27px;
$close-total-width: 155px;
$close-total-height: 1741px;
$close-image: '../../../img/sprite.png';
$close: (0px, 17px, 0px, -17px, 27px, 27px, 155px, 1741px, '../../../img/sprite.png', 'close', );
$next-name: 'next';
$next-x: 0px;
$next-y: 826px;
$next-offset-x: 0px;
$next-offset-y: -826px;
$next-width: 50px;
$next-height: 45px;
$next-total-width: 155px;
$next-total-height: 1741px;
$next-image: '../../../img/sprite.png';
$next: (0px, 826px, 0px, -826px, 50px, 45px, 155px, 1741px, '../../../img/sprite.png', 'next', );
$owl-video-play-name: 'owl.video.play';
$owl-video-play-x: 0px;
$owl-video-play-y: 1403px;
$owl-video-play-offset-x: 0px;
$owl-video-play-offset-y: -1403px;
$owl-video-play-width: 80px;
$owl-video-play-height: 80px;
$owl-video-play-total-width: 155px;
$owl-video-play-total-height: 1741px;
$owl-video-play-image: '../../../img/sprite.png';
$owl-video-play: (0px, 1403px, 0px, -1403px, 80px, 80px, 155px, 1741px, '../../../img/sprite.png', 'owl.video.play', );
$prev-name: 'prev';
$prev-x: 0px;
$prev-y: 871px;
$prev-offset-x: 0px;
$prev-offset-y: -871px;
$prev-width: 50px;
$prev-height: 45px;
$prev-total-width: 155px;
$prev-total-height: 1741px;
$prev-image: '../../../img/sprite.png';
$prev: (0px, 871px, 0px, -871px, 50px, 45px, 155px, 1741px, '../../../img/sprite.png', 'prev', );
$spritesheet-width: 155px;
$spritesheet-height: 1741px;
$spritesheet-image: '../../../img/sprite.png';
$spritesheet-sprites: ($arc, $cut-down, $separator, $base, $box, $brand, $card, $cash, $comparison-price, $data, $desk-graph, $devices, $dial, $entrepreneurs, $eye, $graph, $horn, $house, $like, $link, $list, $manufacturers, $markets, $mob-app, $networks, $note, $notification, $orders, $raiting, $shops, $statistics, $suppliers, $close, $next, $owl-video-play, $prev, );
$spritesheet: (155px, 1741px, '../../../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
