.online-shop {
  width: 100%;
  float: left;
  background-color: #f7f7f7;
  padding: 100px 0;
  box-sizing: border-box;
  @include breakpoint($tablet-breakpoint) {
    padding: 50px 0;
  }
  @include breakpoint($phone-breakpoint) {
    padding: 50px 0;
  }
}

.online-shop__wrap {
  width: 100%;
  position: relative;
  float: left;
  margin-top: 99px;
}

.online-shop__wrap-content {
  width: calc(100% - 700px);
  margin-top: 30px;
  float: left;
  margin-left: 13px;
  @include breakpoint($tablet-breakpoint) {
    width: 100%;
    margin-left: 0;
  }
  @include breakpoint($phone-breakpoint) {
    width: 100%;
    margin-left: 0;
  }
  .btn {
    width: 100%;
    margin-top: 159px;
    margin-left: -13px;
    height: 56px;
    @include breakpoint($tablet-breakpoint) {
      margin-left: 0;
    }
    @include breakpoint($phone-breakpoint) {
      margin-left: 0;
    }
  }
}
.online-shop__wrap-pic {
  width: 681px;
  margin-left: -6px;
  margin-top: 13px;
  float: left;
  position: relative;
  @include breakpoint($tablet-breakpoint) {
    display: none;
  }
  @include breakpoint($phone-breakpoint) {
    display: none;
  }
  img {
    z-index: 2;
    position: relative;
  }
  &:before {
    content: "";
    border: 1px dashed #14b4ea;
    width: 192px;
    position: absolute;
    left: -100px;
    z-index: 0;
    margin-top: 140px;
  }
}

.online-shop__wrap_text {
  width: 256px;
  height: 256px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  flex-flow: row wrap;
  align-items: center;
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  justify-content: center;
  margin-left: 66px;
  position: relative;
  @include breakpoint($tablet-breakpoint) {
    margin-left: calc(50% - (256px / 2));
  }
  @include breakpoint($phone-breakpoint) {
    margin-left: calc(50% - (256px / 2));
  }
  &:after {
    content: "";
    width: 307px;
    height: 307px;
    border: 1px solid rgba(255, 255, 255, 0.7);;
    border-radius: 50%;
    position: absolute;

  }
  &:before {
    content: "";
    width: 362px;
    height: 362px;
    border: 1px solid rgba(255, 255, 255, 0.5);;
    border-radius: 50%;
    position: absolute;
  }
  &-content {
    margin: 0;
    text-align: center;
    color: #333;
    font-size: 18px;
    font-family: $rl;
    position: relative;
    b {
      display: -webkit-inline-flex;
      display: -ms-inline-flex;
      display: inline-flex;
      flex-flow: row wrap;
      width: 100%;
      font-family: $rb;
    }
    &:before {
      content: "";
      border: 1px dashed #14b4ea;
      height: 90px;
      position: absolute;
      left: calc(50% - 0.5px);
      margin-top: 185px;
    }
    &:after {
      content: "";
      background-image: url("../img/base-icons/cut-down.png");
      width: 33px;
      height: 43px;
      position: absolute;
      left: calc(50% - (33px / 2));
      margin-top: 190px;
    }
  }
}
