.btn {
  min-width: 258px;
  height: 49px;
  background-color: #14b4ea;
  border-radius: 5px;
  font-size: 18px;
  font-family: $rb;
  line-height: 34px;
  color: #fff;
  letter-spacing: 0.5px;
  &:focus {
    box-shadow: none;
  }
  &:hover {
    color: #fff;
  }
}

.btn-transparent {
  background-color: transparent;
  min-width: 219px;
  height: 56px;
  border: 1px solid white;
  border-radius: 5px;
  line-height: 41px;
  margin-top: 29px;
  &:hover {
    color: #fff;
  }
}

.landing-title {
  width: 100%;
  float: left;
  text-align: center;
  color: #333;
  font-size: 36px;

  font-family: $rl;
  text-transform: uppercase;
  position: relative;
  margin: 0;
  z-index: 10;
  @include breakpoint($tablet-breakpoint) {
    font-size: 30px;
  }
  @include breakpoint($phone-breakpoint) {
    font-size: 25px;
  }
  &:after {
    content: "";
    @include sprite($separator);
    position: absolute;
    left: calc(50% - (155px / 2));
    margin-top: 55px;
  }
  &-small {
    padding: 0 17%;
    box-sizing: border-box;
    @include breakpoint($tablet-breakpoint) {
      padding: 0;
    }
    @include breakpoint($phone-breakpoint) {
      padding: 0;
    }
  }
}


.landing__orange-icon {
  width: 118px;
  height: 118px;
  border: 1px dashed #ff9a22;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  &:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #ff9a22;
    border-radius: 50%;
    display: block;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
  }
  &:after {
    content: "";
    position: absolute;

  }
}

p {
  color: #333;
  font-family: $rl;
  font-size: 16px;
}

.bgc-green {
  background-color: #78cfbf;
}

.bgc-orange {
  background-color: #fda236;
}
