.container-wrap {
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.container-wrap {
    @extend %clearfix;
}
@media (min-width: 768px) {
    .container-wrap {
        width: 766px;
    }
}
@media (min-width: 992px) {
    .container-wrap {
        width: 990px;
    }
}

@media (min-width: 1200px) {
  .container-wrap {
    width: 1170px;
  }
}
