.footer-landing-shop, .footer-landing-products {
  width: 100%;
  float: left;
  background-color: #031b25;
  padding: 40px 0;
  box-sizing: border-box;
}
.footer-landing-products {
  background-color: #f1f1f1;
  text-align: right;
  .btn {
    float: right;
    @include breakpoint($phone-breakpoint) {
      display: none;
    }
  }
}

.footer-landing__logo {
  width: 146px;
  height: 37px;
  float: left;
  position: relative;
}

.footer-copywriting {
  float: right;
  margin: 0;
  text-align: right;
  font-size: 15px;
  font-family: $rl;
  color: #fff;
  line-height: 40px;
}

.footer-text {
  float: none;
  display: inline-block;
  color: #707070;
  font-family: $rl;
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  width: 27%;
  text-align: left;
  @include breakpoint($tablet-breakpoint) {
    width: 39%;
  }
  @include breakpoint($phone-breakpoint) {
    display: none;
  }
}
